.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    position: absolute;
}

.menuNav {
    display: flex;
    list-style: none;
    gap: 2em;
}

.menuNav > li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 800;
}